/* Basislayout */

#foto{
    
    width:500px;
    margin-right:500px;
    position:absolute;
}

p{
  
    color:#ffffff;
    margin-left:450px;
    width:800px;
    margin-top:50px;
}
html, body {
    height: 100%;
    padding: 0;
    background-color:rgb(10, 0, 156);  
    
    color: #303030;
    font: Verdana, Arial, Sans-Serif;
}

.kleur{
    color:rgb(255, 255, 255);
    text-align: center;
    position: relative;
}
main {
    margin: 0 auto;
    width: 1000px;
    
    
    
}


article {
    text-align: center;
}


.header {
    color: rgb(255, 255, 255);
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 1px;
}


/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;

}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type:none;
    position:relative;
    background-color: #ffffff;
    overflow:hidden;
}

nav ul li {
    float:left;
    }

nav li a {
    display:inline-block;
    color:rgb(10, 0, 156)
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
}


nav li a.active {
    background-color: skyblue;
}
p.midden{
    margin-left:100px;
    margin-top:20px;
    
}



