/* Basislayout */

  


  
  .floatLeft {
    float: left;
    margin-right: 50px;
    width: 300px;
    margin-left:130px;
  }
  
  .floatClear {
    clear: both;
  }

.blauw {
    color: skyblue;
    text-align: center;
    position: relative;
}




.foto{
    width:500px;
    margin-right:1000px;
    position:absolute;
}

p{
  
    color:#ffffff;
    
    width:800px;
    margin-top:10px;
    float: left;
    
}
html, body {
    height: 100%;
    padding: 0px;
    background-color:rgb(0, 0, 0);  
    
    color: #303030;
    font: Verdana, Arial, Sans-Serif;
}

.kleur{
    color:rgb(255, 255, 255);
    text-align: center;
    position: relative;
}
main {
    margin: 0 auto;
    width: 800px;
    
    
    
}


article {
    text-align: center;
}


.header {
    color: rgb(255, 255, 255);
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 1px;
}


/* specifieke stijlen */

img.zweefrechts {
    float:right;
    margin-left: 10px;
    padding-left:15px;
    text-overflow:clip;

   


}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {

 float: left; 
 display: inline;  
 
 list-style-type: none;
 padding: 10px;  
 
}

nav li:hover { 
    background: rgb(255, 255, 255);
 }

nav ul li {
    float:left;
    }

nav li a {
    display:inline-block;
    color:rgb(10, 0, 156)
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
   
    
}


nav li a.active {
    background-color: skyblue;
}
p.midden{
    margin-left:0px;
   margin-top: 0%;
    
}
ol{
    color: #ffffff;

   
    
}

.zweefbeneden{
    float:left;
}

.zweeflinks{
    float: left;
    text-align:left;
}