/* Basislayout */

  
  .bg { 
    /* The image used */
    background-image: url("561961.jpg");
  width: 100%;
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.blauw {
    color: skyblue;
    text-align: center;
    position: relative;
}

.floatLeft {
    float: left;
    margin-right: 1000px;
    width: 500px;
  }

  .floatClear {
    clear: both;
  }



.foto{
    width:500px;
    margin-right:1000px;
    position:absolute;
}

p{
  
    color:#ffffff;
    
    width:800px;
    margin-top:50px;
    float: left;
    
}
html, body {
    height: 97%;
    padding: 0px;
    background-color:rgb(7, 1, 1);  
    
    color: #303030;
    font: Verdana, Arial, Sans-Serif;
}

.kleur{
    color:rgb(255, 255, 255);
    text-align: center;
    position: relative;
}
main {
    margin: 0 auto;
    width: 800px;
    
    
    
}


article {
    text-align: center;
}


.header {
    color: rgb(255, 255, 255);
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 1px;
}


/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;

}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type:none;
    position:relative;
    background-color: #ffffff;
    overflow:hidden;
}

nav ul li {
    float:left;
    }

nav li a {
    display:inline-block;
    color:rgb(10, 0, 156)
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
}


nav li a.active {
    background-color: skyblue;
}
p.midden{
    margin-left:0px;
    margin-top: 20px 
    
}
ol{
    color: #ffffff;
    margin-right:470px;
    width:800px;
    margin-top:10px;
    
}



